$purple-1: #A729F5;
$purple-2: #A729F580;
$purple-3: #F6E7FF;

$light-1 : #F4F6FA;
$light-2 : #ABC1E1;

$dark-1  : #626C7F;
$dark-2  : #3B4D66;
$dark-3  : #313E51;

$green   : #26D782;
$red     : #EE5454;

$icon-html  : #FFF1E9;
$icon-css   : #E0FDEF;
$icon-js    : #EBF0FF;
$icon-acs   : #F6E7FF;